@font-face {
  font-family: 'ArbelRegular';
  src: local('ArbelHagildaRegular'),
    url(./ArbelHagildaRegular.otf) format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ArbelRegular' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(12, 11, 16);
  font-smooth: auto;
  font-smooth: never;
  font-smooth: always;
  font-smooth: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 16px;
  font-weight: bold;
  font-family: 'ArbelRegular' !important;
  cursor: pointer;
}
